.layout{
    height:100vh;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 25px 16px 0;
  background: rgba(255, 255, 255, 0.3);
  padding-right: 100px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
  box-shadow: 10px 0px 2px black;
}

